<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAi3eCcsK3DzNAxnJPm6LwJgmMDt5ihixI</string>
	<key>GCM_SENDER_ID</key>
	<string>543525665001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapplica-e3c17</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapplica-e3c17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543525665001:ios:cadc33aac1fd3615691878</string>
</dict>
</plist>